<h1>New Volunteer</h1>
<%= form_tag(volunteers_path) do |f| %>
  <%= label_tag :first_name %>
  <%= text_field_tag :first_name %>
  <%= label_tag :last_name %>
  <%= text_field_tag :last_name %>
  <%= submit_tag %>
<% end %>
